$width: 2.2rem;
$height: 1rem;

.SwitchBtn {
  position: relative;

  width: $width;
  height: $height;
  border-radius: 20px;
  background-color: var(--text-secondary);

  cursor: pointer;
  transition: all 0.3s;
}
.SwitchBtn-open {
  background-color: var(--bg-blue);
  .SwitchBtn_ball {
    left: $width - $height - 0.1rem;
  }
}

.SwitchBtn_ball {
  position: absolute;
  left: 0.1rem;
  top: 50%;

  width: $height - 0.2rem;
  height: $height - 0.2rem;
  border-radius: 50%;
  background-color: white;

  transform: translateY(-50%);
  transition: all 0.3s;
}
