.BoardMainHeader {
  height: var(--height-header);
  padding: 0 25px;
  background-color: var(--bg-elm);
  box-shadow: 0 1px 4px 0px var(--box-shadow);
}

.BoardMainHeader_name {
  font-size: 30px;
  font-weight: 600;
}

.BoardMainHeader_new_col {
  padding: 12px 20px;
  border-radius: 25px;
  background-color: var(--bg-blue);
  font-weight: 500;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }
  &:active {
    transform: scale(0.96);
  }
}
