$w-sidebar: 280px;

//

.BoardSideBar {
  z-index: 2;
}

.BoardSideBar_show {
  position: absolute;
  left: 100%;
  top: 0;
  padding: 5px;
}
.BoardSideBar_show_contain {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
  &:hover {
    background-color: rgba(0, 0, 0, 0.75);
  }
  &:active{
    transform: scale(0.9);
  }
}

.BoardSideBar_contain {
  width: $w-sidebar;
  box-shadow: 1px 0px 4px var(--box-shadow);
  overflow: hidden;
  transition: width 500ms ease-in;
}

.BoardSideBar_contain-hidden {
  width: 0px;
}

.BoardSideBar_row {
  display: flex;
  flex-direction: column;

  width: $w-sidebar;
  height: 100vh;
  background-color: var(--bg-elm);
}

.BoardSideBar_heading {
  height: var(--height-header);
  padding: 0 25px;
  font-size: 30px;
}

.BoardSideBar_icon_kanban {
  margin-right: 12px;
  width: 25px;
  height: 30px;
  padding-top: 5px;
}

.BoardSideBar_main {
  flex-grow: 1;
  height: 1rem;
}
